<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>
<h1>Author</h1>
<form method="post">
    <p>Количество N <input name="count" type="number" placeholder="по умолчанию 5"></p>
    <p><input name="author" type="submit" value="Создать N авторов">
    <input name="book" type="submit" value="Создать N книг"></p>
    <input name="relation" type="submit" value="Связать авторов и книги"></p>
    <p><input name="back" type="submit" value="Вернуться"></p>
</form>
</body>
</html>
