<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create author</title>
</head>
<body>
<form method="post" >
    <H1>Create author</H1><br>
    ФИО <input type="text" name="name"><br>
    Дата рождения <input type="date" name="date"><br>
    Телефон <input type="tel" name="phone"><br>
    Электронная почта <input type="email" name="email"><br>
    <input name="submit" type="submit" value="Создать">
</form>
</body>
</html>
