<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>
<form method="post">
    <h1>Автор</h1>
    <label>ФИО</label>
    <input name="name" type="text" value={{ author.name }}><br>
    <label>Дата рождения</label>
    <input name="date" type="date" value={{ author.dateOfBirth|date("Y-m-d") }}><br>
    <label>Телефон</label>
    <input name="phone" type="text" value={{ author.phone }}><br>
    <label>Почта</label>
    <input name="email" type="text" value={{ author.email }}><br>

    <input name="back" type="submit" value="Вернуться"><br>
    <input name="edit" type="submit" value="Изменить"><br>
</form>
</body>
</html>
