<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
</head>
<body>
<form method="post">
    <h1>Главная страница</h1>
    <input name="Author" type="submit" value="Авторы">
    <input name="Factory" type="submit" value="Генерация записей">
    <input name="Books" type="submit" value="Книги">
</form>
</body>
</html>
