<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>
<h1>Author</h1>
<form method="post">
    <input name="Author" type="submit" value="Authors">
    <input name="Factory" type="submit" value="Factory">
    <input name="Books" type="submit" value="Books">
</form>
</body>
</html>
