<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
</head>
<body>
<form method="post">
    <h1>Главная страница</h1>
    <p><input name="Book" type="submit" value="Книги"></p>
    <p><input name="Author" type="submit" value="Авторы"></p>
    <p><input name="Factory" type="submit" value="Генерация записей"></p>
    <p><input name="Request" type="submit" value="Дополнительные запросы"></p>
    <p><input name="Admin" type="submit" value="Админ панель"></p>
</form>
</body>
</html>
