<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" id="form" name="form">
    <H1>Создание новой книги</H1>
    <p>Название* <input type="text" name="title" required>

    <p>Описание <textarea  name="description"></textarea></p>

    <p>Год публикации <input type="date" name="year"></p>

    <p>Обложка  <input type="file" name="image" onchange="onFileSelected(event)">
        <img id="myimage" height="200"></p>
    <p>Авторы<br>

    <select  size="{{ authors|length }}" id="authorList" onDblClick="chooseAuthor('authorList', 'authorChoose')">
        {% for author in authors %}
            <option value ={{ author.id }}> {{ author.name }}</option>
        {% endfor %}
    </select></p>

    <p>Выбранные авторы<br>
    <select id="authorChoose" onDblClick="chooseAuthor('authorChoose', 'authorList')">
    </select></p>

    <input name="create" type="submit" value="Создать" onclick="createArray('authorChoose')">
    <input name="back" type="submit" value="Вернуться" formnovalidate>
</form>

</body>
<script src="{{ asset('/jsScript/Books.js')}}"></script>
</html>
